.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.arrow {
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding:3px;
}
.up {
  transform:rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform:rotate(45deg);
  -webkit-transform: rotate(45deg);
}
